{% extends "base.html" %} 
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Доступные фильмы</h2>
    <div class="row">
        {% for film in films %}
        <div class="col-md-4 movie-card">
            <div class="card">
                <img src="{{ film.image.url }}" class="card-img-top" alt="{{ film.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ film.name }}</h5>
                    <a href="{% url 'film_detail' film.id %}" class="btn btn-warning">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}